/* app/globals.css or your main CSS entry */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@layer base {
  h1 {
    /* 64px font size */
    @apply text-[64px];
  }
  h2 {
    /* 64px font size + #181818 color */
    @apply lg:text-[64px] md:text-[48px] text-[32px]  text-[#181818];
  }
}
@layer utilities{
  .text-181818{
    color: #181818;
  }
}

@keyframes fade-in-up {
  from { opacity: 0; transform: translateY(40px) scale(0.98);}
  to { opacity: 1; transform: translateY(0) scale(1);}
}
.animate-fade-in-up {
  animation: fade-in-up 0.9s cubic-bezier(.4,0,.2,1) both;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  @apply mx-auto;
}
